@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.pc {
  display: block;
  @include sp {
    display: none;
  }
}

.sp {
  display: none;
  @include sp() {
    display: block;
  }
}

.imageContainer {
  position: relative;
}
@keyframes zoomIn {
  0% {
    transform: scale(1); /* 開始時は元のサイズ */
  }
  50% {
    transform: scale(1.06); /* 半分の時間で1.04倍（4%拡大）に */
  }
  100% {
    transform: scale(1); /* 終了時に元のサイズに戻る */
  }
}

.zoomEffect {
  animation: zoomIn 34s ease-in-out infinite;
}

.slide {
  position: relative;
  width: 100%;
  height: 850px;

  img {
    width: 100%;
    height: 100%;
    @include sp {
      width: 800px;
      height: 100%;
    }
  }

  .slideText {
    font-family: "A1 Mincho", "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3",
      "HiraMinPro-W3", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E",
      "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    position: absolute;
    bottom: 10%; // 下からの距離
    left: 100px; // 左からの距離
    color: #fff; // テキストの色
    font-size: 24px;
    letter-spacing: 7px;
    padding: 10px; // パディング
    border-radius: 5px; // 角丸の設定（任意）
    p {
      padding: 4px;
    }
    .smallText {
      display: flex;
      font-size: 10px;
      letter-spacing: 0px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include sp {
      bottom: 5%; // 下からの距離
    left: 50px; // 左からの距離
    }
  }
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; // Choose a color that contrasts well with your images
  font-size: 24px;
  // Add any additional styling for your text here, like font family, weight, etc.
  p {
    text-align: center;
    font-size: 10px;
  }
}

.socialMediaContainer {
  position: absolute;
  right: 40px; // Adjust as needed
  top: 45%;
  transform: translateY(-50%);
  text-align: right;
  // Add your styles for icons and text here
}

.followUsText {
  font-size: 10px;
  writing-mode: vertical-lr;
  transform: rotate(360deg);
  color: white;
  margin-bottom: 20px;

  display: block;
}

.socialIcons {
}

.whiteLine {
  height: 1px;
  width: 90px;
  background-color: #fff;
  margin-top: 9px;
  margin-right: 20px;
}
.socialMediaWhiteLine {
  height: 50px;
  width: 1px;
  background-color: #fff;
  display: block;
  margin-left: 5px;
  transform: rotate(180deg);
}
