@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.pc {
  display: block;
  @include sp {
    display: none;
  }
}

.sp {
  display: none;
  @include sp() {
    display: block;
  }
}

.experience {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include sp {
    display: block;
  }
}
