@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.imageContainer {
  position: relative;
}
.imageContainer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 4%;
  background: rgba(0, 0, 0, 0.5); /* ここで透明度を設定 */
  z-index: 1; /* テキストの下に来るように調整 */
}

.textOverlay {
  font-family: "Yomogi", cursive;
  position: absolute;
  top: 50%; /* 画像の中央に配置 */
  left: 50%; /* 画像の中央に配置 */
  transform: translate(-50%, -50%); /* 中央揃えのための調整 */
  color: white; /* テキストの色 */
  font-size: 3rem; /* テキストのサイズ */
  text-align: center; /* テキストを中央揃えに */
  z-index: 2; /* オーバーレイより上に来るように調整 */
  font-weight: bold;
  .textSubtitle {
    font-size: 2rem;
    margin: 25px 0;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1s ease 3s forwards;
  }
}

.textOverlay span {
  opacity: 0;
  display: inline-block; /* 各文字を個別のブロックとして扱う */
  animation: fadeIn 0.5s forwards; /* アニメーションを適用 */
  animation-delay: calc(0.3s * var(--i)); /* 文字ごとに遅延を設定 */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.buttonContainer {
  margin-top: 200px;
  position: absolute;
  bottom: 20px; /* ボタンの位置を画像の下部に調整 */
  left: 50%; /* 中央揃え */
  transform: translateX(-50%);
  z-index: 10; /* テキストの上に表示 */
}

.inquiryButton {
  background-color: #ffffffaa; /* 半透明の白色 */
  color: #333; /* ボタンの文字色 */
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* 角を丸くする */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* ホバー効果 */
}

.inquiryButton:hover {
  background-color: #ffffff; /* ホバー時の背景色 */
}

.discountContainer {
  text-align: center;

  width: 100%;
  background-color: #000713;
  color: #ffffff;
  height: 250px;
  margin-top: 80px;
  .textArea {
    margin: 30px;
  }
}
.video_wrapper {
  margin-top: 80px;
  position: relative;
  width: 50vw;
  height: 60vh;
  overflow: hidden;
}

.video_wrapper > video {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}
.menu_wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column; /* 追加：子要素を縦方向に配置 */
  justify-content: center;
  align-items: center; /* 追加：水平方向で中央揃え */
}

.lists {
  margin-top: 40px;
  list-style-type: none;
  display: flex;

  flex-wrap: wrap; /* 追加：必要に応じてアイテムを折り返す */
  justify-content: center; /* 追加：リストアイテムを中央揃え */
}

.fullWidthImageContainer {
  margin-top: 80px;
  position: relative;
  width: 100vw;
}
.fullWidthImageContainer p {
  position: absolute;
  transform: translate(-50%, -50%); /* 中央揃えと回転 */
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  font-size: 1.5rem;
  top: 15%;
  font-family: "Yomogi", cursive;
  font-weight: bold;
}
.text_right {
  left: 90%;
}
.text_center {
  left: 85%;
}
.text_left {
  left: 80%;
}
.pointContainer {
  width: 60vw;
  margin-top: 80px;
}
.top_point {
  display: flex;
  justify-content: end;
  font-family: "Yomogi", cursive;
}
.center_point {
  display: flex;
  justify-content: start;
  margin-top: 30px;
}
.last_point {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

.featuresContainer {
  padding-top: 50px;
  margin-top: 80px;
  width: 100vw;
  display: flex;
  flex-direction: column; /* 子要素を縦方向に並べる */
  align-items: center; /* 子要素を中央に配置 */
  background-color: #e4e4e4;
}

.featuresRow {
  display: flex; /* Flexboxを有効化 */
  justify-content: center; /* 子要素を中央に配置 */
  gap: 50px; /* カード間のスペース */
  margin-bottom: 40px; /* 行間のスペース */
}
.contactContainer {
  position: relative;
  margin-top: 80px;
  width: 100vw;

  display: flex;
  /* justify-content: end; */

  /* 他の必要なスタイル */
}

.contactText {
}

.hoge {
  flex-grow: 3; /* 画面幅の3割を占める */
  flex-basis: 0; /* 基本サイズを0に設定 */
}

.imgText {
  position: absolute;
  left: 80%; /* 中央揃え */
  top: 10%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Yomogi", cursive;
  font-weight: bold;
}
.contactText {
  display: flex; /* Flexboxを有効化 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  align-items: center; /* 水平方向で中央揃え */
  justify-content: center; /* 垂直方向で中央揃え */
  background-color: #000f29;
  flex-grow: 2; /* 画面幅の2割を占める */
  flex-basis: 0; /* 基本サイズを0に設定 */
  color: #ffffff;
}

.textArea {
  margin-bottom: 40px;
}

.rankingWrapper {
  display: flex;
  margin-top: 80px;
  z-index: 3;
}
.rankingImg {
  display: inline-block;
}
.rankingText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseStudyWrapper {
  margin-top: 80px;
}

.saunaComparison {
  margin-top: 80px;
}
.saunaRecommend {
  position: relative;
  margin-top: 80px;
  width: 100vw;
  display: flex;
  justify-content: flex-end; /* 左端に寄せる */
  align-items: center; /* 中央揃え */
}

.experience {
  margin-top: 80px;
  display: flex;
}
.experience {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions {
  width: 70vw;
  margin-top: 80px;
}
